# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env
env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Sadece Mark-II klasörü takip edilir
# Root'taki diğer dosyalar push'lanmaz


.vercel
.env*.local
